*, ::after, ::before {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: rgba(234, 244, 255, 0.5);
}

main{
  min-height: 100vh;
  display: grid;
  justify-items: center;
  align-items: center;
}
.container{
  width: 620px;
  padding: 5px;
  text-align: center;
}
h1{
  text-transform: capitalize;
  margin: 0.1em;
}
h4{
  margin:0;
}
.card{
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 15px 0 rgb(0, 0, 0, 0.1);
  background: white;
  text-align: center;
  
}
.card-title{
  text-transform: capitalize;
  letter-spacing: 0.2em;
  font-size: 1.2em;
  font-weight: 600;
}
.card-subtitle{
  text-transform: uppercase;
  color:rgb(10, 100, 200);
  font-size: 0.8em;
  letter-spacing: 0;
  font-weight: lighter;
}
.card-body{
  color: rgb(100, 100, 100, 0.7);
  
}
img{
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.line{
  margin: auto;
  border: solid rgb(10, 100, 200);
  margin-bottom: 40px;
  width: 60px;
}
.btn{
  padding: 5px;
  margin:0 5px ;
  border: none;
  background: none;
  font-size: 2em;
  cursor: pointer;
  color: rgb(97, 173, 240);
}
.btn:hover{
  color: rgb(0, 136, 255);
}
.btn-surprise{
  border: solid 1px;
  font-size: large;
  border-radius: 5px;
  transition: 0.8s ease-out;
}

.btn-surprise:hover{
  background: rgb(97, 173, 240);
  color: white;
}